@import url('https://fonts.googleapis.com/css2?family=Kalnia:wght@300;400;600&family=Montserrat:wght@300;400;600&family=Noto+Sans+Sinhala:wght@100..900&family=Poppins:wght@200;400;500;600&display=swap');


body{
    overflow-x: hidden;
}

.light-mode{
    background-color: #d2f1d2;
    
}
.dark-mode {
    color: #fff; 
    background-color: #222; 
}


.light-mode #searchTxt{
    background-color: #4e6b4e;
    color: aliceblue;

}

.dark-mode #searchTxt{
    background-color: #495158;
    color: aliceblue;

}

#searchTxt::placeholder{
    color: aliceblue;
}

#searchBtn{
    width: 45%;
}

.light-mode #searchBtn{
    border-color: #000000;
    color: #000000;
}

.light-mode #searchBtn:hover{
    background-color: #000000;
    color: #fff;
}

.dark-mode #searchBtn{
    background-color: #fff;
    border-color: #fff;
    color: #000000;
}

.dark-mode #searchBtn:hover{
    background-color: #000000;
    color: #fff;
}


#clock{
    font-size: 20px;
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
    font-style: italic;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
    background-color: #ffff;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    border: 2px solid #f0f8ff;
    box-sizing: border-box;
  
}
#clock:hover{
    cursor: pointer;
    
}

#locationIcon{
    width: 3rem;
    height: 3rem;
    color: aliceblue;
}

#location{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    
    font-weight: bold;
    font-family:"poppins", "Helvetica Neue", Helvetica, Arial, sans-serif;	
    color:white;
}

.light-mode #locationTextColor{
    color: aliceblue;
    background-image:url('../images/weather-effects-composition.jpg');
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px;
    
}

.dark-mode #locationTextColor{
    color: aliceblue;
    background-image:url('../images/dark-weather-ominous-clouds-dramatic-landscape-generative-ai\ \(1\).jpg');
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px;
    
}

.light-mode #weatherHighlights{
    color: #000000;
    background: linear-gradient(to right, #87f18d, #dfebdc, #8fef96);
    font-weight: bolder;
    font-family:"poppins", "Helvetica Neue", Helvetica, Arial, sans-serif;

}

.dark-mode #weatherHighlights{
    color: #f0f8ff;
    background: linear-gradient(to right, #2C3137, #000000, #2D3237);

}

.light-mode #todayWeatherHighlights .card{
    background-color: #466f49;
    color: #303230;
}

.dark-mode #todayWeatherHighlights .card{
    background-color:#3d3f41 ;
    color: #fff;
}



.allItems{
    background-color: #3d3f41;
    color: aliceblue;
    font-weight: 500;
    font-family:"poppins", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.light-mode #today{
    font-size: 30px;
    font-family:"poppins", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    color: #000000;
}

.dark-mode #today{
    font-size: 30px;
    font-family:"poppins", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    color: aliceblue;
}

.light-mode #todaysWether{
    background-color:#466f49;
    color: #303230;
}

.dark-mode #todaysWether{
    background-color:#3d3f41;
    color: #303230;
}

.light-mode .todyWeatherTemp{
    background-color: #9de79a;
    color: #000000;
}

.dark-mode .todyWeatherTemp{
    background-color: #2C3137;
    color: aliceblue;
}

.light-mode .sunrice{
    font-weight: bolder;
    font-family:"poppins", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: rgb(0, 0, 0);
}

.dark-mode .sunrice{
    font-weight: bolder;
    font-family:"poppins", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: aliceblue;
}

.light-mode .upcomigBack{
    background-color: #8fc783;
    color: rgb(0, 0, 0);
}

.dark-mode .upcomigBack{
    background-color: #495158;
    color: aliceblue;
}

.light-mode #upcoming{
    font-size: 30px;
    font-family:"poppins", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    color: rgb(0, 0, 0);
}

.dark-mode #upcoming{
    font-size: 30px;
    font-family:"poppins", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    color: aliceblue;
}

.light-mode .pastLeft{
    padding:1rem 2rem;
    width: auto;
    background-color:#497349;
    color: rgb(0, 0, 0);
}

.dark-mode .pastLeft{
    padding:1rem 2rem;
    width: auto;
    background-color:#2C3137;
    color: aliceblue;
}

.light-mode #past{
    font-size: 30px;
    font-family:"poppins", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    color: rgb(0, 0, 0);
}

.dark-mode #past{
    font-size: 30px;
    font-family:"poppins", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    color: aliceblue;
}


.light-mode #weatherFuture{
    background-color: #90c990;
    color: rgb(0, 0, 0);
    border-radius: 20px;
}

.dark-mode #weatherFuture{
    background-color: #495158;
    color: aliceblue;
    border-radius: 20px;
}


.light-mode .futureDay{
    width: auto;
    background-color:#2c632e;
    color: rgb(0, 0, 0);
    width: 8rem;
    border-radius: 70px;
    justify-content: center;
}

.dark-mode .futureDay{
    width: auto;
    background-color:#2c3034;
    color: rgb(255, 255, 255);
    width: 8rem;
    border-radius: 70px;
    justify-content: center;
}

.light-mode #future{
    font-size: 30px;
    font-family:"poppins", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    color: rgb(0, 0, 0);
}

.dark-mode #future{
    font-size: 30px;
    font-family:"poppins", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    color: aliceblue;
}

#toggleLabel{
    width: 100px;
    height: 40px;
    position: relative;
    display:block;
    background: #fff;
    border-radius: 200px;
    box-shadow: inset 0px 5px 15px rgba(0,0,0,0.4), inset 0px -5px 15px rgba(255,255,255,0.4), 0px 15px 15px rgba(0,0,0,0.3);
    cursor: pointer;
    transform: 0.3s;

}

#toggleLabel::after{
   
    content: '';
    width: 35px;
    height: 35px;
    position: absolute;
    top: 3px;
    left: 10px;
    border-radius: 180px;
    background: linear-gradient(180deg, #ddd, #fff);
    box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
    transition:  0.5s ease;
}

#toggle{
    width: 0;
    height: 0;
    visibility: hidden;
}

#toggle:checked + #toggleLabel{
    background: #242424;
}

#toggle:checked + #toggleLabel::after{
    left: 60px;
    transform: translateX(-10%);
    background: linear-gradient(180deg, #777, #3a3a3a);
}
